body a{
	text-decoration: none;
}
table tr td{
	font-size:85%;
}

table{
	text-align:center;
	border-collapse:collapse;
}

.nocssTable{
	width:50px;
}

label.checkboxLabel{
margin-left:-300;
}

.strutsTable tr{
	border:0px;
}
.strutsTable td{
	border:0px;
}

tr{
	background-color:#efefef;
	height:25px;
}

td{
	border:1px solid #aaa;
}

table.clearTable td{
	border:0px solid #fff;
}

table{
/*	width:75% !important;*/
/*	margin-left:200px;*/
/*	margin-right:100px;	*/
}


div.navigator{
  position:absolute;
  left:20px;
  top:20px;
}
div.navigator4online{
  position:absolute;
  left:20px;
  top:20px;
}

.basicColor{
color:#428BCA;	
}


tr.first{
	border:1px solid #8888ff;
	background-color:#ddd;
	height:25px;
}

h1{
	text-align:center;
	text-transform:capitalize;
	color:#666;	
}

textarea{
	width:500px;
	height:300px;
}


  .sidebar {
    position: fixed;
    width:200px;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
/*     border-right: 1px solid #eee; */
  }
  
div#atts {
	position: absolute;
	right: 20px;
	top: 20px;
	
}


div.atts4step {
/*  	position: relative; */
/*   	left: 600px; */
/*   	top: -200x; */
/*   	width:400px; */
/*   	text-align:left; */
}

img.stepimg{
	max-width:800px;
}